<%= render 'users/user_top_image', user: @blog.user %>

<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <%= render "blog", blog: @blog %>
    </div>
    <div class='col-md-4'>

    </div>
  </div>
</div>
