<%if user_signed_in? %>
  <%= react_component("Favarite", blog: blog.attributes, 
                                  favarite: current_user.favarites.find_by(blog_id: blog.id)&.attributes,
                                  blog_favarite_count: blog.favarites.count
                                  ) %>
<% else %>
  <p class='mb-0'><%= icon("far", "heart", class: "mr-1") %>: <%= blog.favarites.count %>いいね！！</p>
<% end %>

