<% if user.top_image? %>
  <div class='jumbotron jumbotron-fluid jumbotron-top' style="background-image: url(<%= user.top_image.large.url %>);">
    <div class="container jumbotron-container">
      <h1><%= user.name %></h1>
    </div>
  </div>
<% else %>
  <%= render "shared/default_top_image" %>  
<% end %>
