<% if object == @post_ranking %>
  <div class='triangle'>
    <%= content_tag(:div, "#{ object.index(user) + 1 }", class: 'triangle-font') %>
    <%= render partial: 'users/user_image', locals: { user: user, object: object }%>
  </div>
<% else %>
  <%= render partial: 'users/user_image', locals: { user: user }%>
<% end %>
<%= render 'users/user_container', user: user %>
