<%= render "shared/default_top_image" %>

<div class='container'>
  <div class='row none-image-top'>
    <% @users.each do |user| %>
      <div class='col-lg-3 col-6'>
      <%= image_tag user.avatar.thumb.url, class: 'avatar-image' if user.avatar.present? %><br>
      <%= link_to user.name, user_path(user) %><br>
      <%= user.email %>
      </div>
    <% end %>
  </div>
</div>