<%= render "shared/default_top_image" %>

<div class='container'>
  <div class='row'>
    <% @users.each do |user| %>
      <div class='col-lg-3 col-6'>
      <%= render 'avatar', user: user %>
      <%= user.email %>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
</div>