<%= render 'users/user_top_image', user: @user %>

<div class='container'>
  <div class="row">
    <div class="col-md-8">
      <%= render @blogs %>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <%= image_tag @avatar.thumb.url, class: 'avatar-image' if @avatar.present? %>
    </div>
  </div>
</div>





