<h1><%= @user.name %>さんのプロフィール</h1>
<p><%= @user.email %></p>
<h2>作成した記事</h2>
<% @blogs.each do |blog| %>
  <p>タイトル：<%= link_to blog.title, blog_path(blog) %></p>
  <p>内容：<%= blog.body %></p>
<% end %>