<% if object.errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p><%= object.errors.count %>個エラーがあります！</p>
    <hr>
    <ul>
      <% object.errors.full_messages.each do |errors| %>
        <li><%= errors %></li>
      <% end %>
    </ul>
  </div>
<% end %>