@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// 背景画像
.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background-photo {
  background: image-url('back-image.jpg') no-repeat;
}

.background {
  height: 100vh;
  z-index: -100;
  background-size: cover;
  background-position: center;
}

.jumbotron-top {
  background-size: cover;
  background-position: center;
  height: 450px;
}

.jumbotron-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.jumbotron-container h1 {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 15px;
  color: black;
}

.alert {
  width: 100%; 
  margin-top: 55px;
  position: absolute;

}


// ナビ
.cover-none-select {
  .navbar {
    position: absolute;
    width: 100%;
  }
}

.logo {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.7);
}

.logo:hover {
  text-decoration: none;
  color: #2EFE2E;
}

.nav-link:hover {
  color: #2EFE2E!important;
  text-decoration: none;
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.7);
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: #2EFE2E!important;
}

.navbar-toggler {
  background: rgba(0, 0, 0, 0.3);
}

// ナビのボタン
.nav-item {
  .btn {
    color: #2EFE2E;
    background: none;
    border: 1px solid #2EFE2E;
  }
}

.btn:hover {
  background: #2EFE2E;
  color: white;
  border: 1px solid #2EFE2E;
}

// アバターイメージ
.avatar-image {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 2%;
}

// ブログイメージ
.blog-image {
  width: 100%;
}

// フォーム
// .user_delete_button {
//   float: right;
// }

.filefield_label {
  margin-bottom: 0px;
}

// ページネーション
.pagination {
  justify-content: center;
}


// フッター
footer {
  margin-top: auto;
}

.copy-right {
  padding: 2.5rem 0;
  text-align: center;
}


// controller_action_selectのビュー
.cover-selects {

  // 背景画像
  .background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .form-control {
    opacity: 0.9;
  }

  // // ボタン
  // .btn {
  //   color: black;
  //   background: white;
  // }

  

  // // ナビのボタン
  // .nav-item {
  //   .btn {
  //     color: #2EFE2E;
  //     background: none;
  //     border: 1px solid #2EFE2E;
  //   }
  
  //   .btn:hover {
  //     background: #2EFE2E;
  //     color: white;
  //     border: none;
  //   }
  // }
}





