@import "bootstrap";

// フォーム
.user_delete_button {
  float: right;
}

// フッター
.copy-right {
  padding: 2.5rem 0;
  background-color: #f9f9f9;
  color: #999;
  text-align: center;
}

.copy-right {
  margin-top: 0;
}
