<%= render "shared/default_top_image", sub_title: "カテゴリー一覧" %>
<div class='container'>
  <div class='row' align='center'>
    <table class='table'>
      <thead>
        <tr>
          <th>カテゴリー名</th>
          <th>作成日</th>
          <th>記事の数</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
            <tr>
              <td><%= link_to category.name, category_path(category) %></td>
              <td><%= category.created_at.to_s(:datetime_jp) %></td>
              <td><%= category.blogs.count %> 個</td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>