<%= render "shared/default_top_image", sub_title: "カテゴリー" %>

<div class='container'>
  <div class='row'>
    <div class='col-8'>
      <h1>
        カテゴリー：<%= link_to @category.name, category_path(@category) %>
      </h1>
      <%= render @blogs %>
      <%= paginate @blogs %>
    </div>
    <div class='col-4'>
    </div>
  </div>
</div>