<p>こんにちは！ <%= @name %>さん</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのEメールアドレスが変更されました。</p>
  <p>変更後のメールアドレス： <%= @resource.unconfirmed_email %></p>
<% else %>
  <p>あなたのEメールアドレスが変更されました。</p>
  <p>変更後のメールアドレス： <%= @resource.email %>.</p>
<% end %>
