<% if user_signed_in? && current_user.top_image.present? %>
  <%= image_tag current_user.top_image.large.url, class: "background" %>
<% else %>
  <div class='background background-photo'></div>
<% end %>